.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem;
  background-color: var(--cg-branco-cards);
  position: relative; 
  z-index: 1;

  .menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none; 

    img {
      width: 28px;
      height: 28px;
    }
  }

  
  .mobile-logo {
    display: none; 

    .logo-img {
      height: 24px; 
      width: auto;
      display: block;
    }
  }

  .user-profile {
    margin-left: auto;
    font-weight: 700;
    color: var(--cg-texto-escuro-logo);
  }

  
  @media (max-width: 768px) {
    padding: 0 1.5rem; 
    
    .menu-btn {
      display: block; 
    }

    .mobile-logo {
      display: block; 
      position: absolute;
      left: 50%;
      transform: translateX(-50%); 
    }
  }
}