<div class="container-auth">
  <div class="lado-esquerdo">
    <div class="brand-area">
      <img src="/images/logo.svg" alt="Ilustração CoupleGraph" class="hero-image">
      <h1 class="texto-logo"><span class="azul-marinho">COUPLE</span><span class="verde">GRAPH</span></h1>
    </div>
    <div class="area-slogan">
      <h2>SUAS FINANÇAS<br>COM SEU PAR</h2>
      <p>Organize, acompanhe e planeje juntos.</p>
    </div>
  </div>

  <div class="lado-direito">
    <div class="texto-header">
      <h2>Bem-vindo ao<br>CoupleGraph</h2>
      <p>Crie sua conta</p>
    </div>

    <div class="auth-card">
      <img src="/images/COUPLEGRAPH.svg" alt="Logo CoupleGraph" class="logo-card">
      
      <form [formGroup]="cadastroForm" (ngSubmit)="fazerCadastro()">

        <div class="input-group">
          <label>Nome</label>
          <input type="text" formControlName="nome" placeholder="Digite seu nome">

          @if (cadastroForm.get('nome')?.invalid && cadastroForm.get('nome')?.touched) {
            <span style="color: var(--cg-vermelho-cancelamento); font-size: 12px; margin-top: 4px;">O nome é obrigatório.</span>
          }
        </div>

        <div class="input-group">
          <label>Email</label>
          <input type="email" formControlName="email" placeholder="Digite seu e-mail">

          @if (cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched) {
            <span style="color: var(--cg-vermelho-cancelamento); font-size: 12px; margin-top: 4px;">E-mail inválido ou obrigatório.</span>
          }
        </div>
        
        <div class="input-group">
          <label>Senha</label>
          <div class="input-wrapper">
            <input [type]="hidePassword() ? 'password' : 'text'" formControlName="senha" placeholder="Digite sua senha">
            
            <button type="button" class="btn-icon" (click)="togglePassword()">
              @if (hidePassword()) {
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
              } @else {
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
              }
            </button>
          </div>
          @if (cadastroForm.get('senha')?.invalid && cadastroForm.get('senha')?.touched) {
            <span style="color: var(--cg-vermelho-cancelamento); font-size: 12px; margin-top: 4px;">
              @if (cadastroForm.get('senha')?.hasError('required')) {
                A senha é obrigatória.
              } 
              @else if (cadastroForm.get('senha')?.hasError('minlength')) {
                A senha deve ter no mínimo 6 caracteres.
              } 
              @else if (cadastroForm.get('senha')?.hasError('pattern')) {
                Precisa de pelo menos 1 letra maiúscula e 1 número.
              }
            </span>
          }
        </div>

        <div class="input-group">
          <label>Confirmar senha</label>
          <div class="input-wrapper">
            <input [type]="hideConfirmPassword() ? 'password' : 'text'" formControlName="confirmarSenha" placeholder="Confirme sua senha">
            
            <button type="button" class="btn-icon" (click)="toggleConfirmPassword()">
              @if (hideConfirmPassword()) {
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
              } @else {
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
              }
            </button>
          </div>
          @if (cadastroForm.hasError('senhasDiferentes') && cadastroForm.get('confirmarSenha')?.touched) {
            <span style="color: var(--cg-vermelho-cancelamento); font-size: 12px; margin-top: 4px;">As senhas não conferem.</span>
          }
        </div>

        <button type="submit" class="btn-solid" [disabled]="cadastroForm.invalid" [style.opacity]="cadastroForm.invalid ? '0.7' : '1'">Criar conta</button>
      </form>
    </div>

    <div class="footer-links">
      <p>Já possui uma conta?</p>
      <a routerLink="/login">Entrar</a>
    </div>
  </div>
</div>