.layout-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: var(--cg-bg-padrao);
  position: relative; 
  overflow-x: hidden; 
}

.sidebar-container {
  width: 250px; 
  flex-shrink: 0; 
  background-color: var(--cg-verde-principal); 
  transition: transform 0.3s ease-in-out;
  z-index: 9999;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);

    &.mobile-open {
      transform: translateX(0);
      box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
    }
  }
}


.main-area {
  display: flex;
  flex-direction: column;
  flex: 1; 
  position: relative;
  z-index: 1;
}

.header-container {
  display: block;
  height: 70px;
  background-color: var(--cg-branco-cards);
  border-bottom: 1px solid var(--cg-borda); 
}

.content-container {
  flex: 1;
  padding: 2rem; 
  overflow-y: auto; 
}

.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  @media (min-width: 769px) { display: none; }
}