<aside class="cg-sidebar">
  <div class="cg-logo">
    <span class="logo-couple">COUPLE</span><span class="logo-graph">GRAPH</span>
  </div>
  
  <nav class="cg-nav">
    <a routerLink="/" class="nav-item active">Início</a>
    <a routerLink="/financas" class="nav-item">Finanças</a>
    <a routerLink="/movimentacoes" class="nav-item">Movimentações</a>
    <a routerLink="/relatorios" class="nav-item">Relatórios</a>
    <a routerLink="/espacos" class="nav-item">Espaços</a>
    <a routerLink="/configuracoes" class="nav-item">Configurações</a>
  </nav>
</aside>